body {
  margin: 0;
  padding: 0;
  background-image: url(./images/terrific.png);
  background-size: cover;
  font-family: sans-serif;height: 170vh;
  background-repeat: no-repeat;
  
}
.akuta{
  /* width: 320px; */
  /* height: 620px; */
  /* background-image: url(./images/ghanatree.jpg) ; */
  color:white;
  top: 4%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 50%);
  /* box-sizing: border-box; */
  /* border-radius: 20px 20px 20px 20px; */
  padding: 70px 30px;
  margin-bottom: 20%;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  text-align: center;

}
h2{
  /* margin:12px; */
  padding-left:-2px;
  text-align: center;
  font-size: 22px;
  color:white ;
}
.akuta p{
  margin: 0;
  padding:0;
  margin-bottom: 20px;
  font-weight:bold;
}
.akuta input[type="submit"]{
  border:none;
  outline: none;
  height:40px;
  background: #fb2525;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
.akuta input[type="submit"]:hover{
  cursor:pointer;
  background: yellow;
  color:#000;
}
h1 {
  font-family: 'Times New Roman', Times, serif;
  /* text-shadow:red; */
  color:white;

}